.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  padding-top: 20px;
}

.title {
  font-size: 36px;
  font-weight: bold;
  color: #090909;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.logo {
  width: 150px;
  display: block;
  margin-top: 20px;
}